html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .78em arial, sans-serif;
  background: #FFB085;
  color: #555;}

p
{ padding: 10px 0 10px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6
{ font: normal 175% 'Josefin Sans', sans-serif;
  color: #111;
  margin: 0 0 15px 0;
  padding: 10px 0 0px 0;}

h2, h3 {
    border-bottom: 1px solid #E8876D;
}

h2
{ font: normal 175% 'Josefin Sans', sans-serif;
  color: #444;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #555;}

h5
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;
  color: #000;}

h6
{ 
  color: #888;
  text-align: center;
  font: normal 150% 'Josefin Sans', sans-serif; 
}

a, a:hover
{ outline: none;
  color: #111;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0 20px 0; 
  padding: 10px 20px 10px 20px;
  border: 1px solid #E8876D;
}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #logo, #menu_first, #content-wrap, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ width: 910px;
  background-color: #E8AA6D;}

#header
{ width: 890px;
    background-color: #E8AA6D;}

#logo {
    text-align: center;
}

#logo img {
    width: 50%;
    margin-top: 10px;
    padding-top: 20px;
}

h1
{ font: normal 300% 'Josefin Sans', sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;
}

h1, h1 a, h1 a:hover
{ padding: 10px 0 0 0;
  color: #AAA;
  letter-spacing: 0.1em;
  text-decoration: none;}



#main-menu-links
{ width: 890px;
  height: 35px;
  padding: 8px 0 0 0;
  margin: -45px 0 0 0;
  position: relative;
  z-index: 1;
  float: left;} 

#menu_first ul#main-menu-links
{ float: left;
  margin: 0;}

#menu_first ul#main-menu-links li
{ float: left;
  margin: 5px 0 0 0;
  padding: 0 0 0 6px;
  list-style: none;}

#menu_first ul#main-menu-links li a
{ letter-spacing: 0em;
  font: normal 105% arial, sans-serif;
  text-transform: uppercase;
  display: block; 
  float: left; 
  height: 20px;
  text-decoration: none; 
  padding: 9px 22px 5px 16px;
  text-align: center;
  color: #AAA;
  border: 0;} 

#menu_first ul#main-menu-links li.active a
{ height: 25px;
  color: #111;
  padding: 7px 22px 5px 16px;}

#menu_first ul#main-menu-links li.active
{ margin: 7px 0 0 0;
  background: #F8F8F8;}

#menu_first ul#main-menu-links li a:hover
{ color: #FFCC78;}

#content-wrap
{ width: 890px;
  overflow: hidden;
  background: #F8F8F8;}

.sidebar
{ float: left;
  width: 198px;
  padding: 20px 25px 15px 15px;}

.sidebar ul
{ width: 178px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent url(../img/link.png) no-repeat left center;}

.sidebar li a.active
{ color: #444;
  text-decoration: none;} 

#content
{ text-align: left;
  width: 600px;
  float: left;
  padding: 20px 0 15px 30px;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ margin: 0 0 6px 0;
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 890px;
  height: 33px;
  padding: 20px 0 4px 0;
  text-align: center; 
  background: #FFCC78;
  color: #AAA;
  border-top: 1px solid #FFF;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 80%;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;}



.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}

#colours
{ height: 0px;
  text-align: right;
  padding: 66px 16px 0px 300px;}
  

